@using DreamWallHub.Core.ViewModels
@model ProjectEditViewModel
@{
    ViewData["Title"] = "Project Edit";

}
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<div class="card-outline card-primary" style="width:20% ; margin:0 auto">
    <div class="col-7 text-white">
        <h1 class="text-center text-primary">Edit Project</h1>
        <hr />
        <form id="edit" enctype="multipart/form-data" method="post">
            <input type="hidden" asp-for="Id" name="Id" value="@Model.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">

                <label asp-for="ProjectName" class="text-primary">Project Name</label>
                <input asp-for="ProjectName" class="form-control" aria-required="true" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="ClientName" class="text-primary">Client name</label>
                <input asp-for="ClientName" class="form-control" aria-required="true" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Country" class="text-primary">Country</label>
                <input asp-for="Country" class="form-control" aria-required="true" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Description" class="text-primary">Description</label>
                <input asp-for="Description" class="form-control" aria-required="true" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="DesignPictureUrl" class="text-primary"></label>
                <input asp-for="DesignPictureUrl" class="form-control" aria-required="true" />
                <span asp-validation-for="DesignPictureUrl" class="text-danger"></span>
            </div>
            <hr />
            <select id="MaterialId" asp-for="MaterialId" asp-items=@(new SelectList((from m in Model.Materials select new {
                    ID=m.Id,
                    FullName = "Metal: " + m.Metal + " Paint: " + m.Paint + " Plywood: " + m.Plywood + " Fasteners: " + m.Fasteners }), "ID", "FullName")) class="form-control">
                <option>Please select one</option>
            </select>
            <hr />
            <div class="text-center">
                <button id="edit-submit" type="submit" class="btn btn-primary btn-block">Edit</button>
            </div>
            <hr />
            <!-- /.col -->
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}