<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4af58ebb-0556-4ab7-a1c2-c25eebf1ef83/resourcegroups/dreamwallfresh/providers/Microsoft.Web/sites/DreamWallHub20220430124256</ResourceId>
    <ResourceGroup>dreamwallfresh</ResourceGroup>
    <ApiResourceId>/subscriptions/4af58ebb-0556-4ab7-a1c2-c25eebf1ef83/resourceGroups/dreamwallfresh/providers/Microsoft.ApiManagement/service/DreamWallHubapiThird/apis/DreamWallHubApiTheThird</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dreamwallhub20220430124256.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>4f7318c9-b696-4891-bc3f-a64a34c8a51e</ProjectGuid>
    <MSDeployServiceURL>dreamwallhub20220430124256.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DreamWallHub20220430124256</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$DreamWallHub20220430124256</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>