@{
    ViewData["Title"] = "Home Page of Admin Area";
}

@{
    Layout = "_Layout";
}
<hr /><hr /><hr /><hr /><hr />
<h4 class="text-center text-primary">Control Panel </h4>  
<section id="action" class="action bg-primary roomy-50">
    <div class="container">
           
            <button class="active"><a asp-area="Admin" asp-controller="Admin" asp-action="ManageUsers">Manage User's Roles</a></button>
            <button class="active"><a asp-area="" asp-controller="Projects" asp-action="CreateProjects">Create project</a></button>
            <button class="active" type="submit"><a asp-area="" asp-controller="Projects" asp-action="ManageProjects">Projects</a></button>
            <button class="active" type="submit"><a asp-area="" asp-controller="Projects" asp-action="ManageProjects">Edit Project</a></button>
    </div>
</section>



