@using DreamWallHub.Core.ViewModels
@model MaterialViewModel

@{
    ViewData["Title"] = "Add Materials";
}

<div class="card-outline card-primary" style="width:20% ; margin:0 auto">
    <div class="card-body">
        <form id="create" enctype="multipart/form-data" method="post">
            <hr /><hr /><hr /><hr /> <hr /> <hr />
            <h1 class="text-center text-primary">Add Materials</h1>
            <hr />
            <div class="form-group">
                <label asp-for="Plywood">Plywood</label>
                <span asp-validation-for="Plywood" class="text-danger text-red"></span>
                <input asp-for="Plywood" class="form-control" />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger text-red"></div>
            <div class="form-floating">
                <label asp-for="Fasteners" class="form-label">Fasteners</label>
                <span asp-validation-for="Fasteners" class="text-danger text-red"></span>
                <input asp-for="Fasteners" class="form-control" aria-required="true" />
            </div>
            <div class="form-group">
                <label asp-for="Metal">Metal</label>
                <span asp-validation-for="Metal" class="text-danger text-red"></span>
                <input asp-for="Metal" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Paint">Paint</label>
                <span asp-validation-for="Paint" class="text-danger text-red"></span>
                <input asp-for="Paint" class="form-control" />
            </div>

            <br />
            <div class="text-center">
                <button id="materialSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Add</button>
            </div>
            <hr />
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}