@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <style>
        .parent {
            position: relative;
            top: 0;
            left: 0;
        }

        .image1 {
            position: relative;
            top: 0;
            left: 0;
        }

        .image2 {
            position: absolute;
            top: 120px;
            left: 470px;
       
        }
    </style>
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">To</h1>
    <div class="parent">
        <img class="image1" src="https://images.squarespace-cdn.com/content/v1/5fcb4c388426fb6624bad50b/1609755869194-3NLQUWQWZ7NMWD1RMJRO/DREAMWALL_Logo.jpg?format=1500w" />
        <img class="image2" src="https://cdn.shopify.com/s/files/1/0317/8967/8728/files/HUBLOGO_360x.png?v=1593010786" />
    </div>
</div>
